html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing:inherit;
}
body{
     font-family: "Momo Signature", cursive;
}
.mt-2{
    margin-top:2 rem;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1000px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 0.5em;
}
.btn-primary{
    color:white;
    background-color:blueviolet;
}
.btn-secundary{
    color:white;
    background-color: #2a9d8f;
}
.btn-danger{
    color:black;
    background-color:red;
}
.btn-info{
    color:black;
    background-color:rgb(198, 170, 28);
}
.btn-success{
    color:black;
    background-color:rgb(137, 196, 136);
}
.logo{
    display: block;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 0.5em;
    background-color:black;
}
.card{
    width: 300px;
    background-color:#2a9d8f;
    color: white;
    overflow: hidden; /*Agrega un scroll automaticamente si el tamaño es más grande*/
    border-radius: 0.5em;
}
.card-img{
    width: 100%;
}
.card-body{
    padding:1em;
}
.card-body h5{
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 700; /*Que tanto quiero de espesor del color del font*/
}
.card-body p{
    font-weight: 300;
}
.articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}